
.auth-container {
    width: 60%;
    min-height: 200px;
    margin: 5rem auto;
    background-color: $blue;
    border-radius: 5px;

    .auth-title {
        font-size: 2em;
        padding: 2rem;
        color: $light-tan;
    }

    .auth-form {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    .auth-submit-btn {
        padding: 0 3rem;
        border-radius: 3px;
        background-color: $dark-blue;
        color: white;
        box-shadow: 2px 2px 2px grey;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.03);
            box-shadow: 4px 4px 4px grey;
        }
    }
}

.edit-user-form {
    width: 90%;
    margin: 3rem auto;

    .edit-user-form-btn {
        padding: 0 3rem;
        border-radius: 3px;
        background-color: $dark-blue;
        color: white;
        box-shadow: 2px 2px 2px grey;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.03);
            box-shadow: 4px 4px 4px grey;
        }
    }
}