
.blog-navigation-container {
    width: 100%;
    padding: 0 1rem;
    background-color: $blog-blue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .blog-navigation-header {
        width: 100%;
        display: flex;
        align-items: center;

        .blog-navigation-title {
            font-size: 1.5em;
            color: $blog-dark-blue;
        }
    }

    .blog-navigation-links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .blog-navigation-auth {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .blog-nav-link {
        font-size: 1.1em;
        color: $blog-white;
        text-decoration: none;
        margin: 0 1rem;
        padding: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $blog-light-blue;
            transform: scale(1.1);
        }
    }

    .link-active {
        color: $blog-light-blue;
        transform: scale(1.1);
        border-bottom: 1px solid $blog-light-blue;
    }
}

// Blog User Item

.blog-user-item-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .blog-user-item-header {
        width: 70%;
        padding-left: 1rem;

        .blog-user-item-username {
            font-size: 1.4em;
            color: $blog-dark-blue;
        }
    }

    .blog-user-item-content {
        width: 30%;
        padding: 2px 0;
    }
}