@import 'portfolio-navigation';

@import 'portfolio';

.portfolio-layout {
    width: 100%;
    min-height: calc(100vh + 150px);
    background-color: $light-grey;
    transition: all 0.5s ease-in-out;
}