
.portfolio-navigation {
    width: 100%;
    background-color: $black3;
    transition: all 0.5s ease-in-out;
    margin-top: -150px;

    .portfolio-navigation-content {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        .portfolio-navigation-socials {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .portfolio-social-link {
                margin: 0 15px;
                font-size: 1.8rem;
                color: $blue;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $dark-grey3;
                    transform: scale(1.2);
                }
            }
        }

        .portfolio-navigation__links {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .portfolio-navigation__auth {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 2rem;
        }
    }

    .portfolio-link {
        font-size: 0.9em;
        padding: 0.25rem 0.5rem;
        color: $tan3;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $sienna;
            transform: scale(1.2);
        }
    }

    .link-active {
        color: $white3;
        transform: scale(1.2);
        border-bottom: 1px solid $white3;
    }

    .portfolio-navigation-lead {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        

        .portfolio-navigation-lead__text {
            font-size: 1.5rem;
            color: $dark-grey3;
            padding: 0.25rem 0;
            margin-bottom: -0.01rem;
        }

        .portfolio-navigation-lead__toggle {
            font-size: 1.7rem;
            color: $grey3;
            transition: all 0.3s ease-in-out;
            margin-bottom: -0.25rem;

            &:hover {
                cursor: pointer;
                color: $dark-grey3;
                transform: scale(1.2);
            }
        }
    }
}

// .hide-nav {
//     transform: translateY(-75%);
// }

.show-nav {
    transform: translateY(150px);
}