@import 'main-navigation';
@import 'posts';

@import 'auth';

.root-layout-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: $blue;
}

// Homepage 

