
$light-grey: #EEEDE9;
$light-blue: #98AAAC;
$blue: #53757E;
$dark-blue: #2E4F58;
$dark-brown: #664826;
$brown: #896C4A;
$sienna: #BA724A;
$light-brown: #CC956F;
$tan: #ECAB81;
$light-tan: #EFD0BC;

$blog-red: #E63946;
$blog-white: #F1FAEE;
$blog-light-blue: #A8DADC;
$blog-blue: #457B9D;
$blog-dark-blue: #1D3557;

$dark-brown2: #312509;
$brown2: #65532f;
$light-green2: #A3BBAD;
$green2: #357266;
$blue2: #0E3B43;

$black3: #14110F;
$dark-grey3: #34312D;
$grey3: #7E7F83;
$tan3: #D9C5B2;
$white3: #F3F3F4;

$black: #393D3F;
$white: #FDFDFF;
$tan: #C6C5B9;
$light-blue: #62929E;
$blue: #546A7B;
$active-green: #00a67e;

// Calculator 

$calc-black: #001219;
$calc-blue: #005F73;
$calc-blue-green: #0A9396;
$calc-foam-green: #94D2BD;
$calc-tan: #E9D8A6;
$calc-light-orange: #EE9B00;
$calc-orange: #CA6702;
$calc-red-orange: #BB3E03;
$calc-red: #AE2012;
$calc-dark-red: #9B2226;

// Quote Machine

$light-grey1: #E7ECEF;
$grey1: #8B8C89;
$dark-blue1: #274C77;
$blue1: #6096BA;
$light-blue1: #A3CEF1;

$dark-green2: #386641;
$green2: #6A994E;
$light-green2: #A7C957;
$tan2: #F2E8CF;
$red2: #BC4749;

$dark-blue3: #335C67;
$cream3: #FFF3B0;
$dark-yellow3: #E09F3E;
$red3: #9E2A2B;
$dark-red3: #540B0E;

$dark-purple4: #1F2041;
$purple4: #4B3F72;
$yellow4: #FFC857;
$blue-green4: #119DA4;
$blue4: #19647E;

// Forms

$blue1-5: #0466C8;
$blue2-5: #0353A4;
$blue3-5: #023E7D;
$blue4-5: #002855;
$blue5-5: #001845;
$blue6-5: #001233;
$grey1-5: #979DAC;
$grey2-5: #7D8597;
$grey3-5: #5C677D;
$grey4-5: #33415C;

// Posts

$post-orange: #F17300;
$post-dark-red: #8D0801;
$post-red: #BF0603;
$post-grey1: #F8F9FA;
$post-grey2: #E9ECEF;
$post-grey3: #DEE2E6;
$post-grey4: #CED4DA;
$post-grey5: #ADB5BD;
$post-grey6: #6C757D;
$post-grey7: #495057;
$post-grey8: #343A40;
$post-black: #212529;

$post-white: #EEF1EF;
$post-light-grey: #A9B4C2;
$post-grey: #5E6572;
$post-blue: #7D98A1;
$post-black2: #1C2321;  