
$light-grey: #EEEDE9;
$light-blue: #98AAAC;
$blue: #53757E;
$dark-blue: #2E4F58;
$dark-brown: #664826;
$brown: #896C4A;
$sienna: #BA724A;
$light-brown: #CC956F;
$tan: #ECAB81;
$light-tan: #EFD0BC;

$blog-red: #E63946;
$blog-white: #F1FAEE;
$blog-light-blue: #A8DADC;
$blog-blue: #457B9D;
$blog-dark-blue: #1D3557;

// blogs
// portfolio => projects
// about
// contact
// comments
// likes portfolio items/blogs